/*----------------------------------------------------------------------------------------------------
                                VIDEO REPRODUCCION TEC
----------------------------------------------------------------------------------------------------*/
#hero{
    min-height: 90vh;
    position: relative;  
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.presentacion{
    position: relative;
    z-index: 2;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323232;
    opacity: 0.70;
}

.btn:hover{
    background-color: #192C5A;
    border-color: #192C5A;
}