/*-----------------------------------------------------------------------------------------
                           DISEÑO REGISTRO DE USUARIOS
------------------------------------------------------------------------------------------*/
/* Estilos para el formulario */
.form-grid {
    display: grid;
    gap: 1rem;
}

/* Estilos para la tabla */
.tabla_usuarios {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden; /* Para ocultar esquinas internas */
}

/* Color del encabezado */
.tabla_usuarios thead.custom-thead th {
    background-color: #192c59ff !important;
    color: white !important;
    border-color: #192c59ff !important;
    padding: 12px;
    border: 1px solid #ccc; /* Bordes suaves alrededor de las celdas */
    text-align: center; /* Centrado del texto en las celdas del encabezado */
}

.tabla_usuarios td {
    padding: 12px;
    text-align: center;
    color: white; /* Texto blanco para contraste */
    background-color: #333333;
}

/* Filas del cuerpo - Fondo oscuro */
.tabla_usuarios tbody tr {
    background-color: #656363; /* Color oscuro de fondo */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

/* Efecto hover en filas */
.tabla_usuarios tbody tr:hover {
    background-color: #d6d4d4 !important;
}

/* Asegurar misma altura en ambas columnas */
.row {
    min-height: 80vh;
}

.col-md-6 > div {
    height: 100%;
}
